<template>
  <div class="c-{{ dashCase name }}">

  </div>
</template>

<script>

export default {
	name: '{{ camelCase name }}',
	props: {},
	components: {},
	computed: {},
	data() {
		return {}
	},
	methods: {},
	mounted: {}
}
</script>

<style lang='less'>
.c-{{ dashCase name }} {

}
</style>
