@text-sub-color: #9B9BA1;

@white: #ffffff;
@login-bg: #2d3a4b;
@bg: #f2f2f2;
@bg-main: #ffffff;
@dark_gray: #889aa4;
@light_gray: #eee;

// base color
@active:#409EFF;
@active-bg: #e1eef9;
// @el-success: #13ce66;
// @el-warning: #FFBA00;
// @el-danger: #ff4949;

//sidebar
@menuText:#bfcbd9;
@menuActiveText:#409EFF;
@subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

@menuBg:#304156;
@menuHover:#263445;

@subMenuBg:#1f2d3d;
@subMenuHover:#001528;

@sideBarWidth: 210px;

@f48: 48px;
@f32: 32px;
@f28: 28px;
@f24: 24px;
@f22: 22px;
@f20: 20px;
@f18: 18px;
@f17: 17px;
@f16: 16px;
@f14: 14px;
@f12: 12px;
