@text-sub-color: #9B9BA1;

@success: #67C23A;
@danger: #F56C6C;
@info: #909399;
@active:#409EFF;

@white: #ffffff;
@login-bg: #2d3a4b;
@bg: #f2f2f2;
@dark_gray: #889aa4;
@light_gray: #eee;

// base color
@active-bg: #e1eef9;
@border-default: #e8eaec;
@form-label-font-color: #565050;


//sidebar
@menuActive:#1890ff;
@menuBg:#001529;
@menuText: rgba(255,255,255, 0.65);
@menuTextActive: @white;
@subMenuBg:rgba(255,255,255,0.1);
@sideBarWidth: 210px;


@f48: 48px;
@f32: 32px;
@f28: 28px;
@f24: 24px;
@f22: 22px;
@f20: 20px;
@f18: 18px;
@f17: 17px;
@f16: 16px;
@f14: 14px;
@f12: 12px;
